[Unit]
Description=Precache content snap libraries

[Service]
Type=oneshot
ExecStart=/usr/bin/snap-precache
RemainAfterExit=true
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target